.contact_modal__content {
	border: 2px solid var(--color-border);
}

.contact_modal__content hr {
	background-color: var(--color-divider-content);
}

.contact_modal__content > .modal-header {
	border: none;
}

.modal_contact__button {
	width: 100px;
	border: 1px solid var(--color-border);
}
